{% extends "global/Page.html" %}
{% load static otree %}


{% block title %}
	Instructions for Task 1
{% endblock %}





{% block content %}
<!--
Page attributes:
- Instruction Text Block
- Next button
-->


<div class = "TextCenter">
	Instructions for task 1 go here
</div> <!--closes TextCenter -->


</br>

<button class="btn btn-primary btn-large">Begin the Experiment</button>
{% endblock %}





{% block styles %}
    <link href="{% static "global/TDStyles.css" %}" rel="stylesheet">
{% endblock %}
