{% extends "global/Page.html" %}
{% load static otree %}


{% block title %}
	Part 1 - Round {{player.round_number}} out of {{Constants.num_rounds}}
{% endblock %}





{% block content %}
<!--
Page attributes:
- One container with the follow:
	3 colored balls and point values
	gray urn point value
	
- radio buttons
	Choice without extra questions
	
	Is it red
		yes
		no
	
	yellow
		yes
		no
	
	green
		yes
		no
-->
<!-- This container is for the images -->
<div class = "grid-container">
<div class = "row"> <!-- probably a way to clean this up later -->

	<div class = "mainbox">
		<div class ="threeballbox">
			<div class = "spacer"></div>
			
				<div id = "RedBallRow" class = "row">
				<div id = "RedBall" class = "Rcircle"></div>
					<div id = "RedBallInfo" class ="textRSmall"></div>
				</div>
			
			<div class = "spacer"></div>
			
				<div id = "YellowBallRow" class = "row">
				<div id = "YellowBall" class = "Ycircle"></div>
					<div id = "YellowBallInfo" class ="textRSmall"></div>
				</div>
			
			<div class = "spacer"></div>
			
				<div id = "GreenBallRow"class = "row">
				<div id = "GreenBall" class = "Gcircle"></div>
					<div id = "GreenBallInfo" class ="textRSmall"></div>
				</div>
			
			<div class = "spacer"></div>
		</div>
	</div>
	
	
	
	<div class = "mainbox">
		<div class ="greyballbox">
		
			<div class = "RHSspacer"></div>
			
				
		
				<div id = "GrayBallRow" class = "row">
				<div id = "GrayBall" class = "Greycircle"></div>
					<div id = "GrayBallInfo" class ="textRSmall"></div>
				</div>
			
				<div class = "RHSspacer"></div>
			
		
		</div>
	</div>
</div> <!-- closes row -->
</div> <!--closes container -->




</br>
</br>

<!-- This container is for button choices -->
<div class = "grid-container">

<!-- ############## FIRST ROW OF PRELIMINARIES ###########-->
	<!-- This first row is the header row -->
	<div class = "row" style = "margin: 1px">
		<div class = "TextColumn">
		</br>
		Choice without Advisor
		</div>
		<div class ="ButtonColumn">
			Colored  |   Gray
			</br>
				<form>
  					<input type="radio" id = "NQ_0" name="noQ" value="0"> 
  					|
 					<input type="radio" id = "NQ_1" name="noQ" value="1"> 
				</form>
		</div>
	</div> <!-- closes row-->
	<div class = "border-line"></div>
	

	
	<!-- ############## RED BALL ###########-->	
	<div class = "border-line"></div>
	<div class = "row" style="background-color:white; margin: 1px;">
		<div class = "TextColumn">
			Red Advisor
		</div>
		<div class ="ButtonColumn">
		</div>
	</div> <!-- closes row-->
	<div class = "border-line"></div>
	
		<div class = "row" style="background-color: white; margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Red </div>
			</div>
			<div class ="ButtonColumn">
				<form>
  					<input type="radio" id = "BRY_0" name="ball_red_yes" value="0" > 
  					|
 					<input type="radio" id = "BRY_1" name="ball_red_yes" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->
		
		
		<div class = "row" style="background-color: white; margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Not Red </div>
			</div>
			<div class ="ButtonColumn">
				<form>
 					 <input type="radio" id = "BRN_0" name="ball_red_no" value="0" > 
 					 |
 					 <input type="radio" id = "BRN_1" name="ball_red_no" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->


	<!-- ############## YELLOW BALL ###########-->	
	<div class = "border-line"></div>
	<div class = "row" style = "margin: 1px">
		<div class = "TextColumn">
			Yellow Advisor
		</div>
		<div class ="ButtonColumn">
		</div>
	</div> <!-- closes row-->
	<div class = "border-line"></div>

		<div class = "row" style = "margin: 1px">
			<div class = "TextColumn">
				<div class = "textR"> Yellow </div>
			</div>
			<div class ="ButtonColumn">
				<form>
 					 <input type="radio" id = "BYY_0" name="ball_yellow_yes" value="0" > 
 					 |
 					 <input type="radio" id = "BYY_1"name="ball_yellow_yes" value="1"> 
				</form>		
			</div>	
		</div> <!-- closes row-->
		
		<div class = "row" style = "margin: 1px">
			<div class = "TextColumn">
				<div class = "textR"> Not Yellow </div>
			</div>
			<div class ="ButtonColumn">
				<form>
  					<input type="radio" id = "BYN_0" name="ball_yellow_no" value="0" > 
  					|
  					<input type="radio" id = "BYN_1" name="ball_yellow_no" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->
		
		
		
		
	<!-- ############## GREEN BALL ###########-->	
	<div class = "border-line"></div>
	<div class = "row" style="background-color: white; margin: 1px;">
		<div class = "TextColumn">
			Green Advisor
		</div>
		<div class ="ButtonColumn">
		</div>
	</div> <!-- closes row-->
	<div class = "border-line"></div>

		<div class = "row" style="background-color: white; margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Green </div>
			</div>
			<div class ="ButtonColumn">
				<form>
 					 <input type="radio" id = "BGY_0" name="ball_green_yes" value="0" > 
 					 |
 					 <input type="radio" id = "BGY_1" name="ball_green_yes" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->
		
		<div class = "row" style="background-color: white; margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Not Green </div>
			</div>
			<div class ="ButtonColumn">
				<form>
  					<input type="radio" id = "BGN_0" name="ball_green_no" value="0" > 
  					|
  					<input type="radio" id = "BGN_1" name="ball_green_no" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->

<!-- ############## RAINBOW ###########-->	
	<div class = "border-line"></div>
	<div class = "row" style="margin: 1px;">
		<div class = "TextColumn">
			Rainbow Advisor
		</div>
		<div class ="ButtonColumn">
		</div>
	</div> <!-- closes row-->
	<div class = "border-line"></div>

		<div class = "row" style="margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Red </div>
			</div>
			<div class ="ButtonColumn">
				<form>
 					 <input type="radio" id = "RainR_0" name="RainRed_no" value="0" > 
 					 |
 					 <input type="radio" id = "RainR_1" name="RainRed_yes" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->
		
		<div class = "row" style="margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Yellow </div>
			</div>
			<div class ="ButtonColumn">
				<form>
  					<input type="radio" id = "RainY_0" name="RainYellow_no" value="0" > 
  					|
  					<input type="radio" id = "RainY_1" name="RainYellow_yes" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row-->

		<div class = "row" style="margin: 1px;">
			<div class = "TextColumn">
				<div class = "textR"> Green </div>
			</div>
			<div class ="ButtonColumn">
				<form>
  					<input type="radio" id = "RainG_0" name="RainGreen_no" value="0" > 
  					|
  					<input type="radio" id = "RainG_1" name="RainGreen_yes" value="1"> 
				</form>
			</div>	
		</div> <!-- closes row--><!-- need to do variabls for ths-->

</div> <!-- closes container -->


</br>
</br>
</br>


<!-- Variable storage here -->
<input type="hidden" name="Choice_NoQ" id="NoQuestionsChoice"/>
<input type="hidden" name="Choice_RedYes" id="BallRedYes_Val"/>
<input type="hidden" name="Choice_RedNo" id="BallRedNo_Val"/>
<input type="hidden" name="Choice_YellowYes" id="BallYellowYes_Val"/>
<input type="hidden" name="Choice_YellowNo" id="BallYellowNo_Val"/>
<input type="hidden" name="Choice_GreenYes" id="BallGreenYes_Val"/>
<input type="hidden" name="Choice_GreenNo" id="BallGreenNo_Val"/>

{% next_button %}
{% endblock %}





{% block styles %}
    <link href="{% static "global/StatePooling.css" %}" rel="stylesheet">
    <link href="{% static "global/mystyle.css" %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
	<script>
	var BRY = document.getElementById("BallRedYes_Val");
	var BRN = document.getElementById("BallRedNo_Val");
	var BYY = document.getElementById("BallYellowYes_Val");
	var BYN = document.getElementById("BallYellowNo_Val");
	var BGY = document.getElementById("BallGreenYes_Val");
	var BGN = document.getElementById("BallGreenNo_Val");
	var NQchoice = document.getElementById("NoQuestionsChoice");

	$('input[name="noQ"]').on("click", function(e) {
		console.log("noQ option clicked");
		if (document.getElementById("NQ_0").checked){
			console.log("	Take the 0 value");
			NQchoice.value = 0;
		}
		if (document.getElementById("NQ_1").checked){
			console.log("	Take the 1 value");
			NQchoice.value = 1;

		}
    
	});
	
	$('input[name="ball_red_yes"]').on("click", function(e) {
		console.log("Red Ball 'YES' option clicked");
		if (document.getElementById("BRY_0").checked){
			console.log("	Take the 0 value");
			BRY.value = 0;
		}
		if (document.getElementById("BRY_1").checked){
			console.log("	Take the 1 value");
			BRY.value = 1;

		}
    
	});
	
		$('input[name="ball_red_no"]').on("click", function(e) {
		console.log("Red Ball 'NO' option clicked");
		if (document.getElementById("BRN_0").checked){
			console.log("	Take the 0 value");
			BRN.value = 0;
		}
		if (document.getElementById("BRN_1").checked){
			console.log("	Take the 1 value");
			BRN.value = 1;
		}
    
    
	});
	
		$('input[name="ball_yellow_yes"]').on("click", function(e) {
		console.log("Yellow Ball 'YES' option clicked");
		if (document.getElementById("BYY_0").checked){
			console.log("	Take the 0 value");
			BYY.value = 0;
		}
		if (document.getElementById("BYY_1").checked){
			console.log("	Take the 1 value");
			BYY.value = 1;
		}
    
	});
	
		$('input[name="ball_yellow_no"]').on("click", function(e) {
		console.log("Yellow Ball 'NO' option clicked");
		if (document.getElementById("BYN_0").checked){
			console.log("	Take the 0 value");
			BYN.value = 0;
		}
		if (document.getElementById("BYN_1").checked){
			console.log("	Take the 1 value");
			BYN.value = 1;
		}
    
	});
	
		$('input[name="ball_green_yes"]').on("click", function(e) {
		console.log("Green Ball 'YES' option clicked");
		if (document.getElementById("BGY_0").checked){
			console.log("	Take the 0 value");
			BGY.value = 0;
		}
		if (document.getElementById("BGY_1").checked){
			console.log("	Take the 1 value");
			BGY.value = 1;
		}
    
	});
	
		$('input[name="ball_green_no"]').on("click", function(e) {
		console.log("Green Ball 'NO' option clicked");
		if (document.getElementById("BGN_0").checked){
			console.log("	Take the 0 value");
			BGN.value = 0;
		}
		if (document.getElementById("BGN_1").checked){
			console.log("	Take the 1 value");
			BGN.value = 1;
		}
    
	});
	



	/* FOR UPDATING THE INFO IN THE POINTS BOX */
	var RedDiv = document.getElementById("RedBallInfo");
	var RedNode = document.createElement("p");
	var RedText = document.createTextNode({{player.RedPoints}} + ' points'); //this puts the value of the element in
	RedNode.appendChild(RedText);
	RedDiv.appendChild(RedNode);
	
	var YellowDiv = document.getElementById("YellowBallInfo");
	var YellowNode = document.createElement("p");
	var YellowText = document.createTextNode({{player.YellowPoints}} + ' points'); //this puts the value of the element in
	YellowNode.appendChild(YellowText);
	YellowDiv.appendChild(YellowNode);
	
	var GreenDiv = document.getElementById("GreenBallInfo");
	var GreenNode = document.createElement("p");
	var GreenText = document.createTextNode({{player.GreenPoints}} + ' points'); //this puts the value of the element in
	GreenNode.appendChild(GreenText);
	GreenDiv.appendChild(GreenNode);
	
	var GrayDiv = document.getElementById("GrayBallInfo");
	var GrayNode = document.createElement("p");
	var GrayText = document.createTextNode({{player.GrayPoints}} + ' points'); //this puts the value of the element in
	GrayNode.appendChild(GrayText);
	GrayDiv.appendChild(GrayNode);
	</script>
{% endblock %}