{% extends "global/Page.html" %}
{% load static otree %}


{% block title %}
	TASK 2 TEST
{% endblock %}





{% block content %}
<!--
Page attributes:
- One container with the follow:
	3 colored balls and point values
	gray urn point value
	
- radio buttons
	Choice without extra questions
	
	Is it red
		yes
		no
	
	yellow
		yes
		no
	
	green
		yes
		no
		
				NOTE!!! I don't think we have data collection on the folored pages yet
-->
<!-- This container is for the images -->
<div class = "grid-container">
<div class = "row"> <!-- probably a way to clean this up later -->

	<div class = "mainbox">
		<div class ="threeballbox">
			<div class = "spacer"></div>
			
				<div id = "RedBallRow" class = "row">
				<div id = "RedBall" class = "Rcircle"></div>
					<div id = "RedBallInfo" class ="textRSmall"></div>
				</div>
			
			<div class = "spacer"></div>
			
				<div id = "YellowBallRow" class = "row">
				<div id = "YellowBall" class = "Ycircle"></div>
					<div id = "YellowBallInfo" class ="textRSmall"></div>
				</div>
			
			<div class = "spacer"></div>
			
				<div id = "GreenBallRow"class = "row">
				<div id = "GreenBall" class = "Gcircle"></div>
					<div id = "GreenBallInfo" class ="textRSmall"></div>
				</div>
			
			<div class = "spacer"></div>
		</div>
	</div>
	
	
	
	<div class = "mainbox">
		<div class ="greyballbox">
		
			<div class = "RHSspacer"></div>
			
				
		
				<div id = "GrayBallRow" class = "row">
				<div id = "GrayBall" class = "Greycircle"></div>
					<div id = "GrayBallInfo" class ="textRSmall"></div>
				</div>
			
				<div class = "RHSspacer"></div>
			
		
		</div>
	</div>
</div> <!-- closes row -->
</div> <!--closes container -->




</br>
<div class = "grid-container2">


	<div class = "row">
	
		<div class = "columnSpacer"></div>
		<div class = "partialBox" id = "LHS_BOX">
		<div class="rowS"></div>
		
			<div class ="row">
				<div class = "labelBox"><div class = "Rcircle"></div></div>
				<div class = "textPercent">20%</div>
				<div class = "percentBox">
					<div class = "whiteBar" style="width: 30%"></div>
				
				</div>
				<div class = "textPercent">80%</div>
			
			</div>
			<div class="rowS"></div>
			
			<div class ="row">
				<div class = "labelBox"><div class = "Ycircle"></div></div>
				<div class = "textPercent">60%</div>
				<div class = "percentBox">
					<div class = "whiteBar" style="width: 60%"></div>
				</div>
				<div class = "textPercent">40%</div>
			
			</div>
			<div class="rowS"></div>
			
			
			<div class ="row">
				<div class = "labelBox"><div class = "Gcircle"></div></div>
				<div class = "textPercent">20%</div>
				<div class = "percentBox">
					<div class = "whiteBar" style="width: 30%"></div>
				</div>
				<div class = "textPercent">80%</div>
			
			</div>
			<div class="rowS"></div>
		</div>
	
		<div class = "columnSpacer"></div>
	
		<div class = "partialBox" id = "RHS_BOX">
		<div class="rowS"></div>
		
			<div class ="row">
				<div class = "labelBox"><div class = "Rcircle"></div></div>
				<div class = "textPercent">40%</div>
				<div class = "percentBox">
					<div class = "whiteBar"></div>
				</div>
				<div class = "textPercent">60%</div>
			
			</div>
			<div class="rowS"></div>
			
			<div class ="row">
				<div class = "labelBox"><div class = "Ycircle"></div></div>
				<div class = "textPercent">40%</div>
				<div class = "percentBox">
					<div class = "whiteBar"></div>
				</div>
				<div class = "textPercent">60%</div>
			
			</div>
			<div class="rowS"></div>
			
			<div class ="row">
				<div class = "labelBox"><div class = "Gcircle"></div></div>
				<div class = "textPercent">40%</div>
				<div class = "percentBox">
					<div class = "whiteBar"></div>
				</div>
				<div class = "textPercent">60%</div>
			
			</div>
		</div>
		<div class="rowS"></div>
		<div class = "columnSpacer"></div>

	
	</div>
</div>

</br>


<div class = "grid-container">
<div class = "row"> 
<div class="columnSpacer" style="width: 49%">What would you choose ...</div>
		<div class="columnSpacer" style="width: 5.55%"></div>  <!--centering the color | gray -->
		<div class = "buttonMid">
			<div class = "textCenter">
			Color | Gray
			</div>
		</div>
</div>		

<div class = "row"> <!-- probably a way to clean this up later -->
<div class="columnSpacer"></div>
<div class="columnSpacer"></div>
<div class="columnSpacer"></div>
		<div class="evenColumn">
			<div class = "textCenter">
			If the Advisor says "white"
			</div>
		</div>
		
		<div class="columnSpacer"></div>
		
		<div class = "buttonMid">
			<div class = "textCenter">
			<form>
				<input type="radio" id = "Q1_0" name="q1" value="0" > 
				|
 				<input type="radio" id = "Q1_1" name="q1" value="1"> 
			</form>
			</div>
		</div>
</div> <!--closes row-->
<div class = "row"> <!-- probably a way to clean this up later -->
<div class="columnSpacer"></div>
<div class="columnSpacer"></div>
<div class="columnSpacer"></div>
		<div class="evenColumn">
			<div class = "textCenter">
			If the Advisor says "black"
			</div>
		</div>
		
		<div class="columnSpacer"></div>
		
		<div class = "buttonMid">
			<div class = "textCenter">
			<form>
				<input type="radio" id = "Q1_0" name="q1" value="0" > 
				|
 				<input type="radio" id = "Q1_1" name="q1" value="1"> 
			</form>
			</div>
		</div>
</div> <!--closes row-->

</div>
</br>


</br>
</br>

</br> <!-- add breaks to lower to button -->
</br>

{% next_button %}
{% endblock %}





{% block styles %}
    <link href="{% static "global/StatePooling.css" %}" rel="stylesheet">
    <link href="{% static "global/mystyle.css" %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
	<script>

	var result = localStorage.getItem("StoredValAdvisor")
	if (result == 0){
		console.log('LHS was Chosen')
		document.getElementById("RHS_BOX").innerHTML = "";
	}

	if (result == 1){
		console.log('RHS was Chosen')
		document.getElementById("LHS_BOX").innerHTML = "";
	}
	
	
		
	/* FOR UPDATING THE INFO IN THE POINTS BOX */
	var RedDiv = document.getElementById("RedBallInfo");
	var RedNode = document.createElement("p");
	var RedText = document.createTextNode({{player.RedPoints}} + ' points'); //this puts the value of the element in
	RedNode.appendChild(RedText);
	RedDiv.appendChild(RedNode);
	
	var YellowDiv = document.getElementById("YellowBallInfo");
	var YellowNode = document.createElement("p");
	var YellowText = document.createTextNode({{player.YellowPoints}} + ' points'); //this puts the value of the element in
	YellowNode.appendChild(YellowText);
	YellowDiv.appendChild(YellowNode);
	
	var GreenDiv = document.getElementById("GreenBallInfo");
	var GreenNode = document.createElement("p");
	var GreenText = document.createTextNode({{player.GreenPoints}} + ' points'); //this puts the value of the element in
	GreenNode.appendChild(GreenText);
	GreenDiv.appendChild(GreenNode);
	
	var GrayDiv = document.getElementById("GrayBallInfo");
	var GrayNode = document.createElement("p");
	var GrayText = document.createTextNode({{player.GrayPoints}} + ' points'); //this puts the value of the element in
	GrayNode.appendChild(GrayText);
	GrayDiv.appendChild(GrayNode);
	

	

	
	</script>
{% endblock %}