{% extends "global/Page.html" %}
{% load static otree %}


{% block title %}
	T2 - 1 feedback 2
{% endblock %}





{% block content %}

<div class="TextCenter">
	The color urn was worth %%%% points
<div>


</br>


<div class="TextCenter">
	The grey urn was worth %%%% points
<div>


</br>


<div class="TextCenter">
	You selected the %%%%% urn
<div>


</br>

	




        <!-- code for return ball -->
        
<!-- here we collect the data for our experiment-->
<!--<input type="hidden" name="R1" id="id_R1task2"/>
<input type="hidden" name="Y1" id="id_Y1task2"/>
<input type="hidden" name="G1" id="id_G1task2"/>
<input type="hidden" name="Accuracy1" id="id_Accuracy1task2"/>-->
{% next_button %}
{% endblock %}





{% block styles %}
    <link href="{% static "global/bootstrap-slider.css" %}" rel="stylesheet">
    <link href="{% static "global/mystyle.css" %}" rel="stylesheet">
    <link href="{% static "global/Task2_1.css" %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
    <script src="{% static "global/bootstrap-slider.min.js" %}"></script>
	<script src="{% static "global/scripts.js" %}"></script>
	
    <script>
    	//document.getElementById("RBResult").innerHTML = localStorage.getItem("RedBlock");
		//document.getElementById("RBResult").innerHTML = localStorage.RedBlock;
		//var x = document.cookie;
		
		var RedPp = localStorage.getItem("RedBlockResult");
		var YellowPp = localStorage.getItem("YellowBlockResult");
		var GreenPp = localStorage.getItem("GreenBlockResult");
		
		document.getElementById("RedP").innerHTML=RedPp;
		document.getElementById("YellowP").innerHTML=YellowPp;
		document.getElementById("GreenP").innerHTML=GreenPp;
		
		//RED DYNAMIC BLOCK
		var RedText = document.createElement("p");
		var RedNode = document.createTextNode(RedPp); //this puts the value of the element in
		RedText.appendChild(RedNode);

		var redElement = document.getElementById("user-red-block"); //edits this id 
		redElement.setAttribute('style', 'width: ' + RedPp + '%'); //sets the attribute value
		redElement.appendChild(RedText);

		//YELLOW DYNAMIC BLOCK
		var YellowText = document.createElement("p");
		var YellowNode = document.createTextNode(YellowPp); //this puts the value of the element in
		YellowText.appendChild(YellowNode);

		var yellowElement = document.getElementById("user-yellow-block"); //edits this id 
		yellowElement.setAttribute('style', 'width: ' + YellowPp + '%'); //sets the attribute value
		yellowElement.appendChild(YellowText)
		
		
		//GREEN DYNAMIC BLOCK
		var GreenText = document.createElement("p");
		var GreenNode = document.createTextNode(GreenPp); //this puts the value of the element in
		GreenText.appendChild(GreenNode);

		var greenElement = document.getElementById("user-green-block"); //edits this id 
		greenElement.setAttribute('style', 'width: ' + GreenPp + '%'); //sets the attribute value
		greenElement.appendChild(GreenText)	
		
		
		var HideRed = document.getElementById("RedP");
		HideRed.classList.add('hidden');
		
		var HideYellow = document.getElementById("YellowP");
		HideYellow.classList.add('hidden');
		
		var HideGreen = document.getElementById("GreenP");
		HideGreen.classList.add('hidden');
		
		
		//For the variable storing. we get the element and then assign
		var red_data_1 = document.getElementById("id_R1task2");
		red_data_1.value = RedPp;
		
		var yellow_data_1 = document.getElementById("id_Y1task2");
		yellow_data_1.value = YellowPp;
		
		var green_data_1 = document.getElementById("id_G1task2");
		green_data_1.value = GreenPp;
		
		
		
		
		var accuracy_data_1 = document.getElementById("id_Accuracy1task2");
		accuracy_data_1.value = ReturnAccuracy(RedPp, YellowPp, GreenPp, 40, 50, 10);
		//for some reason this doesn't work in the scripts page
		
		function ReturnAccuracy(Rself, Yself, Gself, Rreal, Yreal, Greal){//Accuracy return. input integers
			console.log("MADE IT"); //debugging
			//FORMULA
			//400*[0.25-(max{0.25,(R-r)^2})-....]
			//ACCURACY for saying r,y,g when true values are R,Y,G
			
			console.log((1/10000)*(Rreal - Rself)*(Rreal-Rself));
			console.log((1/10000)*(Yreal - Yself)*(Yreal-Yself));
			console.log((1/10000)*(Greal - Gself)*(Greal-Gself));
			result = 400 * (0.25 - Math.min(0.25, (1/10000)*(Rreal - Rself)*(Rreal-Rself)) 
				- Math.min(0.25, (1/10000)*(Yreal - Yself)*(Yreal-Yself)) - Math.min(0.25, (1/10000)*(Greal - Gself)*(Greal-Gself)))		
			console.log("result is:");
			console.log(result);
			return result;
		}
		
		//https://stackoverflow.com/questions/5927012/javascript-createelement-style-problem
		//https://stackoverflow.com/questions/6840326/how-can-i-create-and-style-a-div-using-javascript
		//https://www.digitalocean.com/community/tutorials/how-to-modify-attributes-classes-and-styles-in-the-dom
	
	
	
	/*
		this page WILL ALSO FUNCTION AS A TEMPLATE
		CHANGE R# TO R#task2
	
	*/	
    </script>
    
    
    
{% endblock %}