{% extends "global/Page.html" %}
{% load static otree %}


{% block title %}
	Task #1
{% endblock %}





{% block content %}
<!--
Page attributes:
- 3 colored horizontal bar for probability info
- Three black/white bars for probabilities
- slider
- numbers
-->




<!-- Code for  the prior block-->


	

<div class = "TextCenter">
	Given Probabilities of Coloured Urns
</div>
<br/>

    <div class="grid-container">
        <div class="row">
            <div class="block-red"><p>20%</p></div> 
            <div class="block-yellow"><p>65%</p></div> 
            <div class="block-green"><p>15%</p></div> 
        </div> 
        
        
        <div class="row"></div> <!-- dead row for spacing -->
        
        
        <div class="row">
        
        	<div class="block-ballProbR"> Red Urn Ball Probability
        		<div class="block-SpaceBar"></div>
        		<div class="block-TotalBar">X%</div>
        	</div>
        	
        	<div class="block-BPspace"></div>
        	
        	
        	<div class="block-ballProbY"> Yellow Urn Ball Probability 
        		<div class="block-SpaceBar"></div>
        		<div class="block-TotalBar">Y%</div>
        	</div>
        		
        		
        	<div class="block-BPspace"></div>
        	
        	
        	<div class="block-ballProbG"> Green Urn Ball Probability 
 				<div class="block-SpaceBar"></div>
        		<div class="block-TotalBar">Z%</div>
        	</div>
        	<div class="block-BPspace"></div>
        	
        	
        	
        	
        </div>
        
		
		
    </div>

	





<!-- Code for the slider-->
<div class = "TextCenter">
	Use the slider to enter your values	
</div>

<input id="ex12c" type="text"/><br/>
<output id="output"></output>



<!-- Code for where the two numbers are being placed-->
<br/>

<div class="grid-container">
    <div class="row">
		
		<div class="block-ballProbR">
			Red Percentage:
			<p id="RedBlock"></p>
		</div>

        	<div class="block-BPspace"></div>
		
		<div class="block-ballProbY">
			Yellow Percentage:
			<p id="YellowBlock"></p>
		</div>

        	<div class="block-BPspace"></div>
		
		<div class="block-ballProbG">
			Green Percentage:
			<p id="GreenBlock"></p> <!-- putting % afterward makes it a line down -->
		</div>
		
		
	</div>
</div>


<br/>





{% next_button %}
{% endblock %}





{% block styles %}
    <link href="{% static "global/bootstrap-slider.css" %}" rel="stylesheet">
    <link href="{% static "global/mystyle.css" %}" rel="stylesheet">
    <link href="{% static "global/BallProbPages.css" %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
    <script src="{% static "global/bootstrap-slider.min.js" %}"></script>
	<script src="{% static "global/scripts.js" %}"></script>
	
    <script>
			
			mySlider = $("#ex12c").slider({ 
				id: "slider12c", 
				min: 0, 
				max: 20, 
				range: true, 
				value: [5, 15], 
			});
			
			//Silly_print was for testing purposes
			var Silly_print = function() {
				console.log("silly");
			};
			
			
			var Value_return = function() { //I dont think I need this **^
				//console.log("HERE");
				mySlider.on('slide', Return_value_array)
				//console.log("HERE2");
				};
			
			
			var Return_value_array = function() {
				console.log("CALLED"); //debugging
				var valueString = mySlider.slider('getValue'); //Takes the values from the slider
   				console.log("(FROM INTERNAL) Static ValueString is: " + valueString); //logs for debugging

    
   				var FirstNum = valueString[0]; //takes the first number of the array
   			    var SecondNum = valueString[1];  //takes the second number of the array
   			    document.getElementById("RedBlock").innerHTML = Math.round( (FirstNum) * (1/20) * (100) ); //assigns RedBlock
   			    document.getElementById("YellowBlock").innerHTML = Math.round( (SecondNum - FirstNum) * (1/20) * (100) ); //assigns YellowBlock
   			    document.getElementById("GreenBlock").innerHTML = Math.round( (20 - SecondNum) * (1/20) * (100) ); //assigns GreenBlock
    
  			 	console.log("(FROM INTERNAL) FirstNum is: " + FirstNum); //debugging
  			    console.log("(FROM INTERNAL) SecondNum is: " + SecondNum); //debugging
				
				return;
			}; 
			//var x = Value_return(); //I dont think I need this **^
			
			var t = mySlider.slider()
				.on('slide', Return_value_array)
				.data('slider');

			//var FirstNumber = document.getElementById("num1"); //Takes the value of num1
			//var SecondNumber = document.getElementById("num2"); //Takes the value of num2
		


			
			//Calls in the value of the sliders
			
			//console.log(mySlider.slider('getValue'));
			//var value = mySlider.bootstrapSlider('getValue'); //code to return the value?
			
    </script>
{% endblock %}